In [50]:
from pandas import read_csv, merge, read_excel, ExcelFile, concat

In [51]:
#Read Data
zctas = read_csv('.\Input\ZCTA_Household_income.csv')

with ExcelFile(r'.\Input\ZiptoZcta_Crosswalk_2021.xlsx') as xl :
    df = concat([read_excel(xl, sheet_name = s ) for s in xl.sheet_names],
                ignore_index= True)

In [52]:
df = df.iloc[:, [0,2,4]].copy()
df = df.drop_duplicates(keep='last')

In [53]:
df = df.merge(zctas, left_on= 'ZIP_CODE', right_on= 'ZCTA', suffixes=("", "_y"))
df.drop('ZCTA_y', axis = 1, inplace= True)

In [54]:
df

,ZIP_CODE,STATE,ZCTA,Households100to149K,Households150to199K,Households200KorMore,RFM1,RFM2,RFM3
0,601,PR,00601,49,19,4,3,3,2
1,602,PR,00602,276,105,0,6,6,0
2,603,PR,00603,440,72,108,6,5,6
3,606,PR,00606,0,0,0,0,0,0
4,610,PR,00610,186,37,51,5,4,5
...,...,...,...,...,...,...,...,...,...
33110,45418,OH,45418,140,17,13,5,3,3
33111,17270,PA,17270,0,0,0,0,0,0
33112,56177,MN,56177,0,0,0,0,0,0
33113,45145,OH,45145,0,0,0,0,0,0
33114,66019,KS,66019,0,0,0,0,0,0